<div ng-include="'views/nav/navbar.view.client.html'"></div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left col-md-push-2">
            <div class="row">
                <div class="col-sm-8">
                    <h1>{{model.user.username}}</h1>
                </div>
                <div class="col-sm-4 settings pull-right">
                    <a href="#/settings">
                        <span class=" pull-right glyphicon glyphicon-cog edit-site">
                      </span>
                    </a>
                </div>
            </div>
            <hr>
            <h3>Liked Recipes</h3>
            <div class="col-sm-10">
                <div class="row" ng-repeat="recipe in model.recipesShortened" ng-switch="" on="$index % 3">
                    <div class="col-xs-4" ng-switch-when="0">
                        <div class="row">
                            <div class="col-sm-6">
                            <img class="img-responsive thumbnail" src={{model.recipesShortened[$index].image}} />
                            </div>
                            <div class="col-sm-6">
                                <a href="#/recipe/{{model.recipesShortened[$index]._id}}"><h4>{{model.recipesShortened[$index].label}}</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4" ng-switch-when="0" ng-show="model.recipesShortened[$index + 1].label">
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="img-responsive thumbnail" src={{model.recipesShortened[$index+1].image}} />
                            </div>
                            <div class="col-sm-6">
                                <a href="#/recipe/{{model.recipesShortened[$index + 1]._id}}"><h4>{{model.recipesShortened[$index + 1].label}}</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4" ng-switch-when="0" ng-show="model.recipesShortened[$index + 1].label">
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="img-responsive thumbnail" src={{model.recipesShortened[$index+2].image}} />
                            </div>
                            <div class="col-sm-6">
                                <a href="#/recipe/{{model.recipesShortened[$index + 2]._id}}"><h4>{{model.recipesShortened[$index + 2].label}}</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <a ng-if="model.addMore" href="#/welcome" class="btn btn-info read-more pull-right">Save More Recipes!</a>
                <button ng-if="model.isViewMore" data-target="#myModal" data-toggle="modal" class="btn btn-info btn-lg read-more pull-right">View All</button>


                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">All Saved Recipes</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row" ng-repeat="recipe in model.recipes" ng-switch="" on="$index % 3">
                                    <div class="col-xs-4" ng-switch-when="0">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img class="img-responsive thumbnail" src={{model.recipes[$index].image}} />
                                            </div>
                                            <div class="col-sm-6">
                                                <a href="#/recipe/{{model.recipes[$index]._id}}"><h4>{{model.recipes[$index].label}}</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4" ng-switch-when="0" ng-show="model.recipes[$index + 1].label">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img class="img-responsive thumbnail" src={{model.recipes[$index+1].image}} />
                                            </div>
                                            <div class="col-sm-6">
                                                <a href="#/recipe/{{model.recipes[$index + 1]._id}}"><h4>{{model.recipes[$index + 1].label}}</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4" ng-switch-when="0" ng-show="model.recipes[$index + 1].label">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img class="img-responsive thumbnail" src={{model.recipes[$index+2].image}} />
                                            </div>
                                            <div class="col-sm-6">
                                                <a href="#/recipe/{{model.recipes[$index + 2]._id}}"><h4>{{model.recipes[$index + 2].label}}</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 sidenav col-md-pull-8">
            <h2>About Me</h2>
            <p>{{model.user.aboutMe}}</p>
        </div>
        <div class="col-sm-2 sidenav">
            <h3>Followers</h3>
            <div ng-repeat="follower in model.followers">
                <a href="#/user/{{follower._id}}">{{follower.username}}</a>
            </div>
            <h3>Following</h3>
            <div ng-repeat="following in model.following">
                <a href="#/user/{{following._id}}">{{following.username}}</a>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/nav/footer.view.client.html'"></div>
