<div ng-include="'views/nav/navbar.view.client.html'"></div>

    <div class="container">
        <div class="row profile">
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
                    </div>
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
                    </div>
                    <div class="form-group">
                        <label for="about-me">About Me</label>
                        <textarea ng-model="model.user.aboutMe" id="about-me" class="form-control" placeholder="Tell everyone about yourself..." rows="3"></textarea>
                    </div>
                </form>
            <button ng-click="model.deleteUser()" ng-if="model.canDelete" class="btn btn-danger read-more btn-lg pull-left">Delete User</button>
            <a href="#/user" class="btn btn-default read-more btn-lg pull-right cancel">Cancel</a>
            <button ng-click="model.updateUser(model.user)" class="btn btn-default read-more btn-lg pull-right">Save</button>
            </div>
        </div>
    </div>
<div ng-include="'views/nav/footer.view.client.html'"></div>
