
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left nav-left-glyph navbar-brand navbar-brand-centered">
                <a href="#/user/{{model.userId}}" class="navbar-link nav-glyph">
                  <span class="glyphicon glyphicon-menu-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand navbar-text" href="#">
                Websites
            </a>
            <p class="navbar-text pull-right nav-right-glyph navbar-brand navbar-brand-centereds">
                <a href="#/user/{{model.userId}}/website/new" class="navbar-link nav-glyph">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div class="list-of-websites" ng-repeat="website in model.websites">
        <a href="#/user/{{website._user}}/website/{{website._id}}/page" class="website-name">{{website.name}}</a>
        <p class="pull-right website-settings">
            <a href="#/user/{{website._user}}/website/{{website._id}}" class="navbar-link">
          <span class="glyphicon glyphicon-cog edit-site">
          </span>
            </a>
        </p>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right nav-right-glyph navbar-brand navbar-brand-centered">
                <a href="#/user/{{model.userId}}" class="navbar-link nav-glyph">
          <span class="glyphicon glyphicon-user">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>