
body {
    padding-bottom: 10rem;
}
.navbar {
    background-color: seashell;
}
.btn-login {
    margin-left: 25px;
}
.register-here {
    padding-left: 25px;
    padding-top: 10px;
    font-weight: bold;
    font-size: large;
}
.following {
    padding-top: 20px;
}
.register-btn {
    border-radius: 2px;
}
.description-home {
    color: #286090;
}
.health-labels {
    color: #3c3c3c;
    font-weight: bold;
}
.like-down {
    margin-top: 30px;
}
.ingredients {
    margin-top: 60px;
}
.sub-header {
    color: #286090;
    font-weight: bold;
}
.sidenav {
    padding-top: 60px;
}
.bio {
    font-size: medium;
}
.foll {
    color: #3c3c3c;
    font-weight: bold;
}
.padding-above {
    padding-top: 10px;
}
.header {
    font-weight: bold;
    color: darkorange !important;
 }
.login-btn {
    font-size: large;
}
.nav-button {
    font-weight: bold;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
.weather-report {
    margin-top: 60px;
}
.like-button {
    margin-top: 20px;
}
.btn-like {
    width: 80px;
}
.pointer {
    cursor: pointer;
}
.settings {
    margin-top: 20px;
}
.edit-site {
    font-size: 3rem;
}
.btn-login {
    background: #e5e5e5;
    border-radius: .2rem;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e5e5;
}
.btn-login:link {
    color: #3c3c3c;
}

.btn-login:active, .btn-login:hover {
    background: #b2dba1;
    color: #fff;
}
.btn-facebook {
    background: #3B5998;
    border-radius: .2rem;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #263961;
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
}
.form {
    padding: 1rem;
}
