<nav class="navbar navbar-default navbar-fixed-top pages">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left nav-left-glyph navbar-brand navbar-brand-centered">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-menu-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand navbar-label navbar-text navbar-brand-centered" href="#">
                Create Html
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <!--<div ng-model="model.widget.text" text-angular-->
         <!--ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],-->
        <!--['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],-->
        <!--['indent','outdent'],['html']]">-->
    <!--</div>-->
</div>
<nav class="navbar navbar-default navbar-fixed-bottom pages">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right nav-right-glyph navbar-brand navbar-brand-centered">
                <a href="#/user/" class="navbar-link">
          <span class="glyphicon glyphicon-user">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>