<nav class="navbar navbar-default navbar-fixed-top pages">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left nav-left-glyph navbar-brand navbar-brand-centered">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                  <span class="glyphicon glyphicon-menu-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand navbar-label navbar-text navbar-brand-centered" href="#">
                Create Text Widget
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-info" ng-show="model.message">
        {{model.message}}
    </div>
    Text
    <input ng-model="model.widget.text" class="form-control"/>
    Rows
    <input ng-model="model.widget.rows" class="form-control" type="number"/>
    Placeholder
    <input ng-model="model.widget.placeholder" class="form-control"/>
    Formatted
    <input ng-model="model.widget.formatted" type="checkbox"/>
    <a class="btn btn-primary btn-block"
       ng-click="model.createWidget(model.widget)">Create</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom pages">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right nav-right-glyph navbar-brand navbar-brand-centered">
                <a href="#/user/{{model.userId}}" class="navbar-link">
          <span class="glyphicon glyphicon-user">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>