<!--<div class="container">-->
    <!--<div class="form-group">-->
        <!--<label for="name">Name</label>-->
        <!--<input type="name" class="form-control" id="name" placeholder="Blog Post">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="text">Text</label>-->
        <!--<input type="text" class="form-control" id="text" placeholder="Text">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="url">Url</label>-->
        <!--<input type="text" class="form-control" id="url" placeholder="Url">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="width">Width</label>-->
        <!--<input type="text" class="form-control" id="width" placeholder="Width">-->
    <!--</div>-->
    <!--<a class="btn btn-danger btn-block"-->
       <!--href="widget-list.view.client.html">Delete</a>-->
<!--</div>-->
<!--<nav class="navbar navbar-default navbar-fixed-bottom pages">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<p class="navbar-text pull-right nav-right-glyph navbar-brand navbar-brand-centered">-->
                <!--<a href="#/user/{{model.userId}}" class="navbar-link">-->
          <!--<span class="glyphicon glyphicon-user">-->
          <!--</span>-->
                <!--</a>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<iframe width="100%" src="{{model.getYouTubeEmbedUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>