
<nav class="navbar navbar-default navbar-fixed-top pages">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left nav-left-glyph navbar-brand navbar-brand-centered">
                <a href="#/user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-menu-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand navbar-label navbar-text navbar-brand-centered" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="list-of-websites">
        <li>
            <a href="widget-heading.view.client.html" class="website-name">Header</a>
        </li>
        <li>
            <a href="widget-list.view.client.html" class="website-name">Label</a>
        </li>
        <li>
            <a href="widget-list.view.client.html" class="website-name">HTML</a>
        </li>
        <li>
            <a href="widget-list.view.client.html" class="website-name">Text Input</a>
        </li>
        <li>
            <a href="widget-list.view.client.html" class="website-name">Link</a>
        </li>
        <li>
            <a href="widget-list.view.client.html" class="website-name">Button</a>
        </li>
        <li>
            <a href="widget-image.view.client.html" class="website-name">Image</a>
        </li>
        <li>
            <a href="widget-youtube.view.client.html" class="website-name">Youtube</a>
        </li>
        <li>
            <a href="widget-list.view.client.html" class="website-name">Data Table</a>
        </li>
        <li>
            <a href="widget-list.view.client.html" class="website-name">Repeater</a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom pages">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right nav-right-glyph navbar-brand navbar-brand-centered">
                <a href="#/user/:uid" class="navbar-link">
          <span class="glyphicon glyphicon-user">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>