<div ng-include="'views/nav/navbar.view.client.html'"></div>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h1 class="header">Food and Weather</h1>

                <p class="description-home">At Food and Weather you can participate in a community centered around cooking!
                    Search for recipes, save them for later, view other peoples saved recipes or even
                    get suggestions based on the weather in your area. For full features please login/register!
                </p>
                <br/>
            </div>
            <div class="col-md-6">
                <p>Search For Recipes</p>
                <div class="input-group">
                    <input ng-model="model.query" type="text" class="form-control" placeholder="Search for Recipes...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="model.searchRecipes(model.query)" type="button">Go!</button>
                    </span>
                </div>
                <p class="padding-above">Or Enter your Zip Code for Suggestions</p>
                <div class="input-group">
                    <input ng-model="model.weatherQuery" type="text" class="form-control" placeholder="Enter Your Zip Code...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="model.foodByWeather(model.weatherQuery)" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/nav/footer.view.client.html'"></div>
