<div ng-include="'views/navbar.view.client.html'"></div>
<div class="container">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>{{model.recipe.label}}</h2>
            <img class="img-responsive" src="{{model.recipe.image}}" />
            <a href="{{model.recipe.url}}">Click Here For Full Recipe</a>
        </div>
        <div class="col-md-6">
            <h3>Ingredients</h3>
            <ul ng-repeat="ingredient in model.recipe.ingredientLines">
                <li>{{ingredient}}</li>
            </ul>
        </div>
        <button type="button" ng-click="model.likePage()" class="btn btn-info pull-right">Like</button>
    </div>

    </div>
</div>
</div>
<div ng-include="'views/footer.view.client.html'"></div>